<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- 控制台输出的配置 -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- 文件输出的配置 -->
  <!--<file>${project.build.directory}/logs/application.log</file>-->
  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>activiti/engine.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>-->

  <!-- 配置根日志记录器，输出到控制台和文件 -->
  <root level="ERROR">
    <appender-ref ref="CONSOLE"/>
    <!--<appender-ref ref="FILE"/>-->
  </root>

  <!-- 配置某些包或类的日志级别 -->
  <logger name="org.activiti" level="DEBUG" />
  <logger name="com.example" level="DEBUG" />
  <logger name="wq.wfEngine" level="ERROR" />
  <logger name="springcloud.springcloudgateway" level="DEBUG" />
  <logger name="org.springframework.web" level="DEBUG" />

  
</configuration>
